* {
  box-sizing: border-box;
}

:root {
  --primary-font: "Poppins", sans-serif;
  --primary-color: #1ebfc1;
  --secondary-color: #2f3a3b;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  color: inherit;
}

btn {
  cursor: pointer;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 0 18px;
  text-align: center;
  /* width: 108px; */
  height: 48px;
  line-height: normal;
  border-radius: 6px;
}

.btn-primary {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
}

.btn-secondary {
  color: #494949;
  font-size: 1.6rem;
}

.btn.btn-primary:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
}

.heading-1 {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}

.desc {
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.78;
}

.btn:hover {
  cursor: pointer;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.header {
  background-color: #fff;
}

.header.fixed {
  position: sticky;
  padding: 52px 0;
  top: 0;
  z-index: 1;
}

.header-content {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.header-content.nav ul li {
  color: #2f3a3b;
  font-size: 1.6rem;
}

.header-content .nav li.active,
.header-content .nav li:hover {
  font-weight: 600;
}

.header-content .action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.header-content .action a {
  display: flex;
  text-decoration: none;
  padding: 12px 0;
  text-align: center;
  font-size: 1.6rem;
  color: #494949;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.hero-content .hero-right {
  margin-top: 132px;
  width: 51%;
}

.hero-content .heading-1 {
  width: 458px;
}

.hero-content .desc {
  padding-top: 46px;
  width: 374px;
}

.hero-content .action {
  margin-top: 52px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: start;
}

.hero-content .play {
  border: none;
  background: transparent;
  cursor: pointer;
}

.hero-content .play-video {
  width: 48px;
  height: 48px;
}

.hero-content .play-video img {
  width: 100%;
  border-radius: 50%;
}

.hero-content .hero-left {
  position: relative;
  width: 49%;
}

.hero-left .hero-img {
  background-color: lightblue;
}

.hero-left .summary-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 149px;
  left: -40px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.2);
}

.hero-left .top-content {
  padding: 17px 0 18px 25px;
}

.hero-left .icon {
  width: 36px;
  height: 40px;
  object-fit: cover;
}

.hero-left .summary-top .sm-desc {
  padding: 22px 25px 23px 16px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}
