* {
  box-sizing: border-box;
}

:root {
  --primary-font: "Poppins", sans-serif;
  --primary-color: #1ebfc1;
  --secondary-color: #2f3a3b;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  color: inherit;
}

btn {
  cursor: pointer;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 0 18px;
  text-align: center;
  /* width: 108px; */
  height: 48px;
  line-height: normal;
  border-radius: 6px;
}

.btn-primary {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
}

.btn-secondary {
  color: #494949;
  font-size: 1.6rem;
}

.btn.btn-primary:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
}

.heading-1 {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}

.heading-2 {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33;
}

.heading-3 {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.desc {
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.78;
}

.btn:hover {
  cursor: pointer;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.header {
  background-color: #fff;
}

.header.fixed {
  position: sticky;
  padding: 52px 0;
  top: 0;
  z-index: 1;
}

.header-content {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.header-content.nav ul li {
  color: #2f3a3b;
  font-size: 1.6rem;
}

.header-content .nav li.active,
.header-content .nav li:hover {
  font-weight: 600;
}

.header-content .action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.header-content .action a {
  display: flex;
  text-decoration: none;
  padding: 12px 0;
  text-align: center;
  font-size: 1.6rem;
  color: #494949;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-bottom: 79px;
}

.hero-content .hero-right {
  margin-top: 132px;
  width: 51%;
}

.hero-content .heading-1 {
  width: 458px;
}

.hero-content .desc {
  padding-top: 46px;
  width: 374px;
}

.hero-content .action {
  margin-top: 52px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: start;
}

.hero-content .play {
  border: none;
  background: transparent;
  cursor: pointer;
}

.hero-content .play-video {
  width: 48px;
  height: 48px;
}

.hero-content .play-video img {
  width: 100%;
  border-radius: 50%;
}

.hero-content .hero-left {
  position: relative;
  width: 49%;
}

.hero-left .hero-img {
  background-color: #def6f5;
}

.hero-left .summary-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 149px;
  left: -40px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.2);
}

.hero-left .top-content {
  padding: 17px 0 18px 25px;
}

.hero-left .icon {
  width: 36px;
  height: 40px;
  object-fit: cover;
}

.hero-left .summary-top .sm-desc {
  padding: 22px 25px 23px 16px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.hero-left .summary-center {
  position: absolute;
  left: -65px;
  top: 453px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.2);
}

.hero-left .center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-left .summary-center .sm-desc {
  color: #0d1111;
  text-align: center;
  padding: 16px 35px 16px 35px;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.hero-left .center-content:after {
  content: "";
  display: inline-block;
  width: 26px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
}

.hero-left .summary-center .icon1 {
  padding-bottom: 12px;
}

.hero-left .summary-center .icon2 {
  padding-bottom: 10px;
}

.hero-left .summary-center .icon3 {
  padding-bottom: 16px;
}

.hero-left .bottom-content {
  display: flex;
}

.hero-left .summary-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 45px;
  top: 500px;
  width: 207px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.2);
}

.hero-left .summary-bottom .sm-desc {
  padding: 0 70px 8px 23px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

/* .hero-left .summary-bottom img:first-child {
  padding-left: 35px;
} */

.hero-left .summary-bottom img:not(:first-child) {
  margin-left: -5px;
}

.hero-left .summary-bottom img {
  width: 33px;
  height: 33px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.2);
}

.feature-1 {
  margin-top: 166px;
  margin-bottom: 65px;
}

.feature-content .heading-2 {
  width: 49%;
  padding: 18px 0;
}

.feature-content .feature-top .desc {
  width: 52%;
  color: #767e7e;
}

.feature-content .feature-bottom {
  width: 1024px;
  display: flex;
  margin-top: 80px;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.feature-content .feature-item {
  width: 222px;
}

.feature-content .feature-bottom .title {
  padding: 26px 0 16px 0;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
}

.feature-content .feature-bottom .desc {
  color: #9da6a5;
  font-size: 16px;
  line-height: 1.69;
}

.courses {
  margin-top: 184px;
}

.courses .courses-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 79px;
}

.courses .courses-top .top-content {
  width: 100%;
}

.courses .courses-top .desc {
  width: 500px;
  /* width: 100%; */
}

.courses .top-content .content-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 19px;
}

.courses .top-content .content-right {
  display: flex;
  align-items: center;
  gap: 8px;
  /* justify-content: flex-end; */
}

.courses-top .content-right .sm-desc {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
}

.courses-top .content-right .btn {
  border: none;
  padding-top: 2px;
  background-color: transparent;
  text-align: center;
}

.courses .courses-item {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 47px;
}

.courses .courses-bottom .item1-content {
  width: 325px;
  height: 195px;
  border-radius: 8px;
  opacity: 0.65;
  background: #d0efed;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.2);
}

.courses .courses-bottom .item2-content {
  width: 325px;
  height: 195px;
  border-radius: 8px;
  opacity: 0.65;
  background: #d0efed;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.2);
}

.courses .courses-bottom .item3-content {
  width: 325px;
  height: 190px;
  border-radius: 8px;
  opacity: 0.65;
  background: #d0efed;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.2);
}

.courses-item .item-1,
.courses-item .item-2,
.courses-item .item-3 {
  position: relative;
}

.courses-item .item1-content,
.courses-item .item2-content,
.courses-item .item3-content {
  position: absolute;
  top: 330px;
  left: 17px;
}

.courses-item .item1-raw {
  padding: 30px 0 29px 25px;
}

.courses-item .item2-raw {
  padding: 30px 0 29px 25px;
}

.courses-item .item3-raw {
  padding: 30px 0 29px 25px;
}

.courses-item .heading-3 {
  padding-bottom: 16px;
}

.courses-item .price {
  padding-top: 16px;
  color: #767e7e;
  font-size: 1.6rem;
}

.courses-item strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.courses-item .desc {
  padding-top: 6px;
  color: #9da6a5;
  font-size: 1.4rem;
}

.courses-item .date {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  padding-top: 18px;
}

.courses-item .date img {
  width: 6px;
  height: 6px;
  object-fit: cover;
}

.courses-bottom .courses-img {
  width: 359px;
  height: 393px;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 8px;
  background: #d0efed;
}
/* count down */

.count-down {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 397px;
  margin-bottom: 265px;
}

.count-down .raw {
  width: 862px;
  height: 131px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count-down .sm-desc {
  padding-top: 10px;
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
}

.count-down .left,
.count-down .center,
.count-down .right {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Testimonial */

.testimonial {
  margin-top: 184px;
  min-height: 481px;
}

.testimonial .raw {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
}

.testimonial .left {
  width: 42%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.testimonial .left .left-icon {
  width: 36px;
  height: 29px;
  margin: 27px 0;
}

.testimonial .left .desc {
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 1.5;
}

.testimonial .left .sm-desc {
  padding: 33px 0 52px 0;
  color: #767e7e;
  font-size: 1.6rem;
}

.testimonial .left .sm-desc::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 2px;
  background: #070707;
  margin-right: 5px;
}

.testimonial .left .sm-desc strong {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
}

.testimonial .left .action {
  padding: 52px 0 37px 0;
}

.testimonial .left .btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.testimonial .left .btn-testimonial-1 {
  margin-right: 22px;
}

.testimonial .right {
  width: 52%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial .right .right-img-1 {
  width: 235px;
  height: 235px;
  border-radius: 235px;
}

.testimonial .right .right-img-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 92px;
  height: 92px;
  border-radius: 92px;
}

.testimonial .right .right-img-3 {
  position: absolute;
  top: 30px;
  right: 0;
  width: 110px;
  height: 110px;
  border-radius: 110px;
}

.testimonial .right .right-img-4 {
  position: absolute;
  bottom: 0;
  left: 110px;
  width: 78px;
  height: 78px;
  border: 0.1px solid #070707;
  border-radius: 78px;
}

.testimonial .right .right-img-5 {
  position: absolute;
  bottom: 40px;
  right: 35px;
  width: 78px;
  height: 78px;
  border-radius: 78px;
}

.testimonial .right .right-img-6 {
  position: absolute;
  bottom: 170px;
  left: -130px;
  width: 78px;
  height: 78px;
  border-radius: 78px;
}

/* cta */

.cta {
  margin: 130px 0;
  height: 272px;
  background-color: #def6f5;
}

.cta .raw {
  height: 272px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta .left .heading-2 {
  padding-bottom: 18px;
}

.cta .right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta .right .btn {
  border: 1px solid #070707;
}

/* footer */

.footer .raw {
  /* padding: 130px 0 80px 0; */
}

.footer .raw .footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.footer .raw .footer-top .footer-logo {
  margin-top: -5px;
}

.footer .footer-top .footer-item-1 .title,
.footer .footer-top .footer-item-2 .title,
.footer .footer-top .footer-item-3 .title {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 30px;
}

.footer .footer-top .footer-item-4 .title {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 33px;
}

.footer .footer-top .footer-item-2 .sm-desc,
.footer .footer-top .footer-item-1 .sm-desc,
.footer .footer-top .footer-item-3 .sm-desc {
  color: #535353;
  font-size: 1.6rem;
  padding-bottom: 26px;
}

.footer .footer-top .footer-item-4 .sm-desc {
  color: #535353;
  font-size: 1.6rem;
}

.footer .footer-top .footer-item-4 .socials .social-item-1 a,
.footer .footer-top .footer-item-4 .socials .social-item-2 a,
.footer .footer-top .footer-item-4 .socials .social-item-3 a,
.footer .footer-top .footer-item-4 .socials .social-item-4 a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-bottom: 25px;
}

.footer .footer-bottom .desc {
  color: #b0b5b4;
  font-size: 1.8reem;
  text-align: center;
  padding: 80px 0 50px 0;
}
